.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it covers everything */
    animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
  
  .preloader img {
    width: 400px; /* Adjust based on your logo size */
    height: auto;
  }
  